
Datasets/

Checkpoints/

MNIST/

dataLoaders/__pycache__/

__pycache__/

Measures/

Website/Temp/

.venv/

src/Website/Temp/

src/Imagenette2Challenge.egg-info/

.coverage

report.html

assets/

.env
Imagenette2Challenge.egg-info/
